@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
}

b {
  font-weight: bold;
}

/* Navbar start */
.navbar {
  z-index: 1;
  width: 70%;
  margin-right:30px;
  margin-left: 275px;
}
#navbarDropdown{
  padding-bottom: 2rem;
  color: rgba(255,255,255,.55);
}
.navbar-brand {
  font-size: 20px;
}
.navbar-brand img {
  width: 35px;
  height:28px;
}
.nav-item {
  margin-left: 25px;
  font-size:18px;
}
.dropdown-menu {
  background-color: #212529 !important;
  color:#212529 !important;
}
.dropdown-item {
  color: rgba(255,255,255,.55) !important;
  background-color: #212529 !important;
  font-family: 'Montserrat', sans-serif !important;
}
a.dropdown-item:hover,
a.dropdown-item:active {
  color: white !important;
  opacity: 80% !important;
}
/* Navbar end */

/* Wrapper for all pages start */
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.wrapper h3 {
  margin-top:20px;
}
/* Wrapper for all pages end */

/* Apod Page start*/
#apod_info h2 {
  background-color: #ebebeb;
  font-size: xx-large;
}
#apod_info li {
  background-color: #ebebeb; 
  margin-top:20px; 
  text-align: left;
}
#apod_other_info {
  background-color: #ebebeb; 
  text-align: left;
}
#apod_form {
  font-weight:bold; 
  font-size: medium;
}
#apod_date {
  margin-left:170px;
}
#apod_img img {
  width:650px;
  height: 590px;
}
/* Apod Page end */

/* All Asteroids Page start*/
#asteroids_list {
  text-align: center;
  justify-content: center;
}
#asteroids_list ul {
  height:610px; 
  width:100%; 
  overflow:hidden; 
  overflow-y:scroll; 
  font-size: medium; 
  margin-top:30px;
}
/* All Asteroids Page end */

/* Banner for all pages start */
.banner-area {
	width: 70%;
  margin-right:30px;
  margin-left: 275px;
	height: 200px;
	position: absolute;
	top: 80px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}
/* Banner for all pages end */

/* Content Area for all Pages except homepage start */
.content-area {
	position: absolute;
	top: 280px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
video {
  margin-top: 30px;
}
#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  overflow-x:hidden;
  height: 250px;
  width: 95%;
  margin-left:15px;
}
/* Content Area for all Pages except homepage start */

/* About with No Login */
.about-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.about-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.about-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.about-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.about-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
#about-nologin-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 90px;
  width: 87%;
}
/* About with No Login */

/* Copyright Link on landing page */
#copyright_link {
  color: black;
  text-decoration: none;
}
#copyright_link:hover,
#copyright_link:active {
  color: blue !important;
  opacity: 80% !important;
}
/* Copyright Link on landing page */

/* Homepage Tutorial with videos start */
.homepage_tutorial {
  overflow: scroll;
  width: 100%;
  height:500px;
  margin-top:20px;
  overflow-x: hidden;
}
#homepage_video_subtitle h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 150px;
  width: 80%;
}
#homepage_video_subtitle p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
  margin-top: -30px;
}
.homepage-wrapper {
	width: 1170px;
	margin: 0 auto;
}
.homepage-wrapper h2 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.homepage-wrapper h3 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
#homepage_video_subtitle video {
  width:60%;
  height:80%;
  margin-top:-30px;
  margin-left: 60px;
}
/* Homepage Tutorial with videos start */

/* Landing Page start */
#homepage-user-input-field {
  margin-left: 80px;
}
/* Landing Page end */

/* Input Field styling for all website start */
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
/* Input Field styling for all website end */

/* Background Image Styling start */
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}
/* Background Image Styling end */

/* Styling for link throughout the website start */
#asteroid-link {
  color:black;
  text-decoration: none;
}
#asteroid-link:hover {
  text-decoration: underline;
}
/* Styling for link throughout the website end */

/* Asteroid Selection Page start */
.asteroid_selection {
  margin-top: 30px;	}

/* Asteroid Selection Page end */

/* Asteroid Details Styling start */
.ui.list .list>
.item a, .ui.list>.item a {
  color:black !important;
  text-decoration: none;
}

.ui.list .list>
.item a, .ui.list>.item a:hover {
  color:black !important;
  text-decoration: underline;
}
/* Asteroid Details Styling end */

/* Styling for calendars start */
input[type="date"] {
  display: block;
  text-align: center;
}
/* Styling for calendars end */

/* Styling for video subtitles that dont need the overflow start */
.video_info {
  overflow: hidden !important;
}
/* Styling for video subtitles that dont need the overflow end */

/* Forgot page with no login needed start */
.forgot-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.forgot-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}
.forgot-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.forgot-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.forgot-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
.forgot-input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  margin-left: 380px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.forgot-input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.forgot-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.forgot-input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.form-forgot-password {
  align-items: center;
}
/* Forgot page with no login needed end */

/* Change account info styling start */
.change-acc-info .col-3 {
  margin-left: 450px;
}
#acc-info-submit{
  margin-left: 35px;
}
/* Change account info styling end */

/* Change password styling starts */
.change-password h3 {
  margin-top: 20px;
}
.change-password .row {
  margin-left:40px;
  margin-top: 50px;
}
#change-password-input-field {
  margin-left: 450px;
}
#password-submit {
  margin-left: 35px;
}
/* Change password styling ends */

/* Styling for accordion on about page with login start */
#about-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 5px;
  width: 100%;
}
/* Styling for accordion on about page with login end */


@media (min-width: 1281px) and (max-width:1441px) {

/* Navbar start */
.navbar {
  z-index: 1;
  width: 70%;
  margin-right:30px;
  margin-left: 210px;
}
.nav-item {
  margin-left: 5px;
  font-size:15px;
}
/* Navbar end */

/* Wrapper for all pages start */
.wrapper h3 {
  margin-top:30px;
}
/* Wrapper for all pages end */

/* Apod Page start*/
#apod_info li {
  background-color: #ebebeb; 
  margin-top:20px; 
  text-align: left;
  margin-left:20px;
}
#apod_img img {
  width:450px;
  height: 390px;
  margin-left:-150px;
}
/* Apod Page end */

/* All Asteroids Page start*/
#asteroids_list {
  text-align: center;
  justify-content: center;
}
#asteroids_list ul {
  height:610px; 
  width:100%; 
  overflow:hidden; 
  overflow-y:scroll; 
  font-size: medium; 
  margin-top:30px;
}
/* All Asteroids Page end */

/* Banner for all pages start */
.banner-area {
	width: 70%;
  margin-right:30px;
  margin-left: 210px;
	height: 200px;
	position: absolute;
	top: 80px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
  margin-top: 20px;
}
/* Banner for all pages end */

/* Content Area for all Pages except homepage start */
.content-area {
	position: absolute;
	top: 280px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 210px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
video {
  margin-top: 40px;
  width:70%;
  margin-left: -170px;
}
#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  overflow-x:hidden;
  height: 250px;
  width: 70%;
  margin-left:20px;
}
/* Content Area for all Pages except homepage start */

/* About with No Login */

.about-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.about-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.about-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.about-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.about-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
#about-nologin-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 90px;
  width: 87%;
}
/* About with No Login */

/* Copyright Link on landing page */
#copyright_link {
  color: black;
  text-decoration: none;
}
#copyright_link:hover,
#copyright_link:active {
  color: blue !important;
  opacity: 80% !important;
}
/* Copyright Link on landing page */

/* Homepage Tutorial with videos start */
.homepage_tutorial {
  overflow: scroll;
  width: 80%;
  height:500px;
  margin-top:20px;
  overflow-x: hidden;
  margin-left:25px;
}
#homepage_video_subtitle h5 {
  margin-left: 130px;
}
.homepage-wrapper h2 {
	width: 80%;
  margin-left: 45px;
  font-size:30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.homepage-wrapper h3 {
	width: 80%;
  font-size: 18px;
  margin-left: 30px;
}
#homepage_video_subtitle video {
  width:60%;
  height:80%;
  margin-top:-30px;
  margin-left: 60px;
}
/* Homepage Tutorial with videos start */

/* Landing Page start */
.container .signin-signup .row .col-10 {
  width: 10;
  margin-left: 10px !important;
}
#login-btn {
  margin-left: -35px;
}
#rememberme-button {
  margin-left: -10px;
}
#forgot-password{
  margin-left: -35px;
  margin-top: 5px;
}
#homepage-user-input-field {
  margin-left: 90px;
  width:180px;
}
#homepage-user-password-input-field {
  width: 180px;
}
#signup-button {
  margin-left: -150px;
}
.title {
  margin-left:-20px;
}
#signup-title{
  margin-left: -110px;
}
/* Landing Page end */

/* Input Field styling for all website start */
.input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
/* Input Field styling for all website end */

/* Asteroid Selection Page start */

.asteroid_selection {
  margin-top: 30px;
}
/* Asteroid Selection Page end */


/* Forgot page with no login needed start */
.forgot-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.forgot-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}
.forgot-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.forgot-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.forgot-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
.forgot-input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  margin-left: 380px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.forgot-input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.forgot-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.forgot-input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}
.form-forgot-password {
  align-items: center;
}
/* Forgot page with no login needed end */

/* Change account info styling start */
.change-acc-info .col-3 {
  margin-left: 370px;
}
#acc-info-submit{
  margin-left: -120px;
}
#change-acc-title {
  margin-left: -150px;
}
/* Change account info styling end */

/* Change password styling starts */
#change-password-title {
  margin-left: -150px;
}
#message {
  margin-left: -90px;
}
#change-password-input-field {
  margin-left: 350px;
}
#password-submit {
  margin-left: -170px;
}
/* Change password styling ends */

/* Styling for accordion on about page with login start */
#about-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
  margin-top: 50px;
  margin-left: 40px;
  width: 80%;
}
/* Styling for accordion on about page with login end */

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    touch-action: pan-y;
  }
  /* Landing Page start */
  .container .signin-signup .row .col-10 {
    width: 10;
    margin-left: 10px !important;
  }
  #login-btn {
    margin-left: -35px;
  }
  #rememberme-button {
    margin-left: -10px;
  }
  #forgot-password{
    margin-left: -35px;
    margin-top: 5px;
  }
  #signup-password-field {
    width: 330px;
  }
  #homepage-user-input-field {
    margin-left: 80px;
    width:150px;
  }
  #homepage-user-password-input-field {
    width: 150px;
  }
  #signup-button {
    margin-left: 10px;
  }
  .title {
    margin-left:-20px;
  }
  #signup-title{
    margin-right: -45px;
  }
  .left-panel img,
  .right-panel img {
    margin-top: 110px;
  }
/* Landing Page end */
  
/* Navbar start */
.navbar {
  z-index: 1;
  width: 75%;
  margin-right:30px;
  margin-left: 150px;
}
#navbarDropdown{
  padding-bottom: 2rem;
  color: rgba(255,255,255,.55);
  margin-top:20px;
}
.navbar-brand {
  font-size: 15px;
}
.navbar-brand img {
  width: 25px;
  height:18px;
}
.nav-item {
  margin-left: 0px;
  font-size:13px;
}
.dropdown-menu {
  background-color: #212529 !important;
  color:#212529 !important;
  
}
.dropdown-item {
  color: rgba(255,255,255,.55) !important;
  background-color: #212529 !important;
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 10px;
}
a.dropdown-item:hover,
a.dropdown-item:active {
  color: white !important;
  opacity: 80% !important;
}
/* Navbar end */

/* Wrapper for all pages start */
.wrapper h3 {
  margin-top:20px;
}
/* Wrapper for all pages end */

/* Homepage Tutorial with videos start */
.homepage_tutorial {
  overflow: scroll;
  width: 65%;
  height:500px;
  margin-top:20px;
  overflow-x: hidden;
  margin-left:15px;
}
#homepage_video_subtitle h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 20px;
  font-weight: bold;
  margin-left: 80px;
  width: 80%;
}
#homepage_video_subtitle p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
  margin-top: -30px;
}
.homepage-wrapper h2 {
  font-size:30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: -150px !important;
}
.homepage-wrapper h3 {
  font-family: 'Montserrat', sans-serif;
  word-break: break-word;
  width: 60%;
  font-weight: 100;
  font-size: 20px;
  margin-left: 60px;
}
#homepage_video_subtitle video {
  width:60%;
  height:80%;
  margin-top:-30px;
  margin-left: 60px;
}
/* Homepage Tutorial with videos start */

/* Banner for all pages start */
.banner-area {
	width: 70%;
  margin-right:30px;
  margin-left: 275px;
	height: 200px;
	position: absolute;
	top: 80px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}
/* Banner for all pages end */

/* Content Area for all Pages except homepage start */
.content-area {
	position: absolute;
	top: 280px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}
video {
  margin-top: 30px;
}
#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  overflow-x:hidden;
  height: 250px;
  width: 95%;
  margin-left:15px;
}
/* Content Area for all Pages except homepage start */
/* Banner for all pages start */
.banner-area {
	width: 75%;
  margin-right:30px;
  margin-left: 150px;
	height: 200px;
	position: absolute;
	top: 80px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
  margin-top: 20px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}
/* Banner for all pages end */

/* Content Area for all Pages except homepage start */
.content-area {
	position: absolute;
	top: 280px;
	background: #ebebeb;
	min-height: 700px;
  width: 75%;
  margin-right:30px;
  margin-left: 150px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 30px;
	margin-left: -150px;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 20px;
}
.wrapper h1 {
  font-size: 20px;
}

video {
  margin-top: 50px;
  width: 60%;
  margin-left: -480px;
}
#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  overflow-x:hidden;
  height: 250px;
  width: 60%;
  margin-left:-110px;
}
#video_subtitle h2 {
  margin-left:15px;
}
/* Content Area for all Pages except homepage start */

/* Asteroid Selection Page start */
#asteroid_start_date{
  width:50%;
}
#asteroid_end_date{
  width:50%;
}
#asteroid_selection_title {
  word-break: break-word;
  width: 80%;
}
.asteroids_selection label {
  margin-left: -110px;
}
.asteroids_selection {
  margin-top: 30px;
}
#asteroid_selection_button{
  margin-left: -98px;
}
/* Asteroid Selection Page ends */

/* Apod Page start*/
#apod_info h2 {
  margin-left: 15px;
  font-size: xx-large;
}
#apod_info li {
  background-color: #ebebeb; 
  margin-top:20px; 
  text-align: left;
  font-size: 15px;
  width: 80%;
}
#apod_other_info {
  background-color: #ebebeb; 
  text-align: left;
  margin-bottom: -10px;
}
#apod_form {
  font-weight:bold; 
  font-size: medium;
  margin-left: -45px;
  margin-top:-10px;
}
#apod_date {
  margin-left:120px;
  margin-top: 5px;
}
#apod_submit_button {
  margin-left: -120px;
  margin-top: -15px;
}
#apod_img img {
  width:410px;
  height: 350px;
  margin-left: -480px;
}
#apod_img a {
  width:410px;
  height: 350px;
  margin-left: -480px;
}
/* Apod Page end */

/* All Asteroids Page start*/
#asteroids_list {
  text-align: center;
  justify-content: center;
}
#asteroids_list ul {
  height:610px; 
  width:80%; 
  
  overflow-y:scroll; 
  font-size: medium; 
  margin-top:30px;
}
/* All Asteroids Page end */

/* Styling for accordion on about page with login start */
#about-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
  margin-top: 50px;
  margin-left: 55px;
  width: 60%;
}
/* Styling for accordion on about page with login end */

/* Change account info styling start */
#account_information_title{
  font-size: 60px;
}
.change-acc-info .col-3 {
  margin-left: 260px;
}
#acc-info-submit{
  margin-left: -350px;
}
#change-acc-title {
  margin-left: -350px;
}
/* Change account info styling end */

/* Change password styling starts */
#change-password-title {
  margin-left: -350px;
}
.change-password .row {
  margin-left:40px;
  margin-top: 50px;
}
#message {
  margin-left: -190px;
}
#change-password-input-field {
  margin-left: 250px;
}
#password-submit {
  margin-left: -385px;
}
/* Change password styling ends */

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #homepage-login-form{
    background: red;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}