@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  text-align: center;
}

b {
  font-weight: bold;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}


.input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

.website-content {
  background-color: white;
  align-items: center;
  text-align: center;
  list-style-position: inside;
}

#asteroid-link {
  color:black;
  text-decoration: none;
}

#asteroid-link:hover {
  text-decoration: underline;
}

.navbar {
  width: 70%;
  margin-right:30px;
  margin-left: 275px;
  position: absolute;
  font-size: 22px;
}

#navbarDropdown {
  padding-bottom: 2rem;
  color: rgba(255,255,255,.55);
}
.nav-item-dropdown {
  text-align: center !important;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-brand img {
  width: 35px;
  height:28px;
}
.nav-item {
  margin-left: 25px;
}

.dropdown-menu {
  background-color: #212529 !important;
  color:#212529 !important;
}
.dropdown-item {
  color: rgba(255,255,255,.55) !important;
  background-color: #212529 !important;
  font-family: 'Montserrat', sans-serif !important;
}
a.dropdown-item:hover,
a.dropdown-item:active {
  color: white !important;
  opacity: 80% !important;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.wrapper h3 {
  margin-top:20px;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;

}
video {
  margin-top: 30px;
}

#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  height: 250px;
  width: 95%;
  margin-left:15px;
}

.content-area .col-7 img {
  width:650px;
  height: 590px;
}
#asteroids_list {
  text-align: center;
  justify-content: center;
}

.banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	top: 100px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.content-area {
	position: absolute;
	top: 300px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.about-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.about-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.about-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.about-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.about-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

#about-nologin-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 90px;
  width: 87%;
}

#copyright_link {
  color: black;
  text-decoration: none;
}
#copyright_link:hover,
#copyright_link:active {
  color: blue !important;
  opacity: 80% !important;
}

.homepage_tutorial {
  overflow: scroll;
  width: 95%;
  height:500px;
  margin-top:20px;
}
.asteroid_selection {
  margin-top: 30px;
}

.ui.list .list>
.item a, .ui.list>.item a {
  color:black !important;
  text-decoration: none;
}

.ui.list .list>
.item a, .ui.list>.item a:hover {
  color:black !important;
  text-decoration: underline;
}

input[type="date"] {
  display: block;
  text-align: center;
}

.video_info {
  overflow: hidden !important;
}

.forgot-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.forgot-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.forgot-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.forgot-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.forgot-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.forgot-input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  margin-left: 380px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.forgot-input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.forgot-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.forgot-input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.form-forgot-password {
  align-items: center;
}
.content-area .row .change-acc-info .col-3 {
  margin-left: 450px;
}

.change-password {
  margin-top: 50px;
}

#about-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 5px;
  width: 100%;
}

#homepage_video_subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
}
#homepage_video_subtitle h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 20px;
  font-weight: bold;
}
#homepage_video_subtitle p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
}

.homepage-wrapper {
	width: 1170px;
	margin: 0 auto;
}
.homepage-wrapper h2 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.homepage-wrapper h3 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
#change-password-input-field {
  margin-left: 410px;
}
#password-submit {
  margin-left: 35px;
}
#acc-info-submit{
  margin-left: 35px;
}

@media (max-width:1440px) {
  .website-content {
    background-color: white;
    align-items: center;
    text-align: center;
    list-style-position: inside;
  }
  
  #asteroid-link {
    color:black;
    text-decoration: none;
  }
  .content-area .row .change-acc-info .col-3 {
    margin-left: 400px;
  }
  #asteroid-link:hover {
    text-decoration: underline;
  }
  
  .navbar {
    width: 70%;
    margin-right:30px;
    margin-left: 220px;
    position: absolute;
    font-size: 15px;
  }
  
  #navbarDropdown {
    padding-bottom: 2rem;
    color: rgba(255,255,255,.55);
  }
  .nav-item-dropdown {
    text-align: center !important;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-brand img {
    width: 35px;
    height:28px;
  }
  .nav-item {
    margin-left: 15px;
  }
  
  .dropdown-menu {
    background-color: #212529 !important;
    color:#212529 !important;
  }
  .dropdown-item {
    color: rgba(255,255,255,.55) !important;
    background-color: #212529 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  a.dropdown-item:hover,
  a.dropdown-item:active {
    color: white !important;
    opacity: 80% !important;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  .wrapper h3,
  .wrapper h4 {
    margin-right: 120px;
  }
  header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
  }

  video {
    margin-top: 30px;
    width: 60%;
  }
  
  #video_subtitle {
    font-size: 15px;
    overflow:scroll;
    height: 250px;
    width: 60%;
    margin-left:15px;
  }
  .row {
    width:90%;
    margin-top: 20px;
  }
  .row .col-5 {
    width: 100%;
  }
  .row .col-7 {
    width:100%;
  }
  .row .col-5 .col-6 {
    margin-left:200px;
}
  
  #asteroids_list {
    text-align: center;
    justify-content: center;
  }
  
  .banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 220px;
    position: absolute;
    top: 100px;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .content-area {
    position: absolute;
    top: 300px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 220px;
  }
  .content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 20px;
    margin: 0;
  }
  .content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 20px;
  }
  .content-area .col-5 {
    width:50%;
  }
  .content-area .col-7 {
    width:50%;
    margin-top: 40px;
  }
  .content-area .col-7 video {
    width:80%;
  }
  .content-area .col-7 #video_subtitle {
    width: 80%;
    margin-left: 40px;
  }
  .content-area .col-7 img {
    width: 400px;
    height: 380px;
  }
  
  .about-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .about-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .about-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .about-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .about-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  #about-nologin-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 90px;
    width: 87%;
  }
  
  #copyright_link {
    color: black;
    text-decoration: none;
  }
  #copyright_link:hover,
  #copyright_link:active {
    color: blue !important;
    opacity: 80% !important;
  }
  
  .homepage_tutorial {
    overflow: scroll;
    width: 85%;
    height:500px;
  }
  .asteroid_selection {
    margin-top: 30px;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a {
    color:black !important;
    text-decoration: none;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a:hover {
    color:black !important;
    text-decoration: underline;
  }
  
  input[type="date"] {
    display: block;
    text-align: center;
  }
  
  .video_info {
    overflow: hidden !important;
  }
  
  .forgot-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 220px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .forgot-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .forgot-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 220px;
  }
  .forgot-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin-left: -130px;
  }
  .forgot-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  .forgot-input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    margin-left: 310px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .forgot-input-field i {
    text-align: center;
    line-height: 55px;
    color: #131212;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .forgot-input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .forgot-input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .form-forgot-password {
    align-items: center;
  }
  #form-forgot-button {
    margin-left: -150px;
  }
  
  .change-password {
    margin-top: 50px;
  }
  #change-password-input-field {
    margin-left: 300px;
  }
  #password-submit {
    margin-left: -180px;
  }
  #acc-info-submit{
    margin-left: 35px;
  }
  
  #about-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 40px;
    width: 80%;
  }
  
  #homepage_video_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
  }
  #homepage_video_subtitle h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 20px;
    font-weight: bold;
  }
  #homepage_video_subtitle p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:15px;
  }
  
  .homepage-wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  .homepage-wrapper h2 {
    width: 80%;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size:30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: 30px;
  }
  .homepage-wrapper h3 {
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 15px;
    margin-left: 30px;
  }
  .homepage_tutorial {
    margin-left: 30px;
    width: 90%;
  }
}
/* 
@media (max-width: 1200px) { 
  .website-content {
    background-color: white;
    align-items: center;
    text-align: center;
    list-style-position: inside;
  }
  
  #asteroid-link {
    color:black;
    text-decoration: none;
  }
  
  #asteroid-link:hover {
    text-decoration: underline;
  }
  
  .navbar {
    width: 70%;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    font-size: 30px;
  }
  
  #navbarDropdown {
    padding-bottom: 2rem;
    color: rgba(255,255,255,.55);
  }
  .nav-item-dropdown {
    text-align: center !important;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .navbar-brand img {
    width: 35px;
    height:28px;
  }
  .nav-item {
    margin-left: 20px;
  }
  
  .dropdown-menu {
    background-color: #212529 !important;
    color:#212529 !important;
  }
  .dropdown-item {
    color: rgba(255,255,255,.55) !important;
    background-color: #212529 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  a.dropdown-item:hover,
  a.dropdown-item:active {
    color: white !important;
    opacity: 80% !important;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
  
  }
  video {
    margin-top: 30px;
  }
  
  #video_subtitle {
    font-size: 15px;
    overflow:scroll;
    height: 250px;
    width: 95%;
    margin-left:15px;
  }
  
  
  #asteroids_list {
    text-align: center;
    justify-content: center;
  }
  
  .banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    top: 100px;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .content-area {
    position: absolute;
    top: 300px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  .about-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .about-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .about-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .about-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .about-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  #about-nologin-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 90px;
    width: 87%;
  }
  
  #copyright_link {
    color: black;
    text-decoration: none;
  }
  #copyright_link:hover,
  #copyright_link:active {
    color: blue !important;
    opacity: 80% !important;
  }
  
  .homepage_tutorial {
    overflow: scroll;
    width: 95%;
    height:500px;
    margin-top:20px;
  }
  .asteroid_selection {
    margin-top: 30px;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a {
    color:black !important;
    text-decoration: none;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a:hover {
    color:black !important;
    text-decoration: underline;
  }
  
  input[type="date"] {
    display: block;
    text-align: center;
  }
  
  .video_info {
    overflow: hidden !important;
  }
  
  .forgot-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .forgot-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .forgot-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .forgot-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .forgot-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  .forgot-input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    margin-left: 380px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .forgot-input-field i {
    text-align: center;
    line-height: 55px;
    color: #131212;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .forgot-input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .forgot-input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .form-forgot-password {
    align-items: center;
    
  }
  
  .change-password {
    margin-top: 50px;
  }
  
  #about-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 5px;
    width: 100%;
  }
  
  #homepage_video_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
  }
  #homepage_video_subtitle h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 20px;
    font-weight: bold;
  }
  #homepage_video_subtitle p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:15px;
  }
  
  .homepage-wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  .homepage-wrapper h2 {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size:40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .homepage-wrapper h3 {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
  }
 } for desktops */
/* 
@media (max-width: 991px) { 
  .website-content {
    background-color: white;
    align-items: center;
    text-align: center;
    list-style-position: inside;
  }
  
  #asteroid-link {
    color:black;
    text-decoration: none;
  }
  
  #asteroid-link:hover {
    text-decoration: underline;
  }
  
  .navbar {
    width: 100%;
    position: absolute;
    font-size: 22px;
  }
  
  #navbarDropdown {
    padding-bottom: 2rem;
    color: rgba(255,255,255,.55);
  }
  .nav-item-dropdown {
    text-align: center !important;
  }
  .navbar-brand {
    font-size: 20px;
  }
  .navbar-brand img {
    width: 35px;
    height:28px;
  }
  .nav-item {
    margin-left: 25px;
  }
  
  .dropdown-menu {
    background-color: #212529 !important;
    color:#212529 !important;
  }
  .dropdown-item {
    color: rgba(255,255,255,.55) !important;
    background-color: #212529 !important;
    font-family: 'Montserrat', sans-serif !important;
  }
  a.dropdown-item:hover,
  a.dropdown-item:active {
    color: white !important;
    opacity: 80% !important;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  header {
    height: 100px;
    background: #262626;
    width: 100%;
    z-index: 10;
  
  }
  video {
    margin-top: 30px;
  }
  
  #video_subtitle {
    font-size: 15px;
    overflow:scroll;
    height: 250px;
    width: 95%;
    margin-left:15px;
  }
  
  
  #asteroids_list {
    text-align: center;
    justify-content: center;
  }
  
  .banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    top: 100px;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .content-area {
    position: absolute;
    top: 300px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  .about-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .about-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .about-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .about-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .about-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  #about-nologin-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 90px;
    width: 87%;
  }
  
  #copyright_link {
    color: black;
    text-decoration: none;
  }
  #copyright_link:hover,
  #copyright_link:active {
    color: blue !important;
    opacity: 80% !important;
  }
  
  .homepage_tutorial {
    overflow: scroll;
    width: 95%;
    height:500px;
    margin-top:20px;
  }
  .asteroid_selection {
    margin-top: 30px;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a {
    color:black !important;
    text-decoration: none;
  }
  
  .ui.list .list>
  .item a, .ui.list>.item a:hover {
    color:black !important;
    text-decoration: underline;
  }
  
  input[type="date"] {
    display: block;
    text-align: center;
  }
  
  .video_info {
    overflow: hidden !important;
  }
  
  .forgot-banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .forgot-banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  
  .forgot-content-area {
    position: absolute;
    top: 200px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .forgot-content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .forgot-content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }
  
  .forgot-input-field {
    max-width: 380px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    margin-left: 380px;
    border-radius: 55px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }
  .forgot-input-field i {
    text-align: center;
    line-height: 55px;
    color: #131212;
    transition: 0.5s;
    font-size: 1.1rem;
  }
  .forgot-input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }
  .forgot-input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }
  
  .form-forgot-password {
    align-items: center;
    
  }
  
  .change-password {
    margin-top: 50px;
  }
  
  #about-accordion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 50px;
    margin-left: 5px;
    width: 100%;
  }
  
  #homepage_video_subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
  }
  #homepage_video_subtitle h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:20px;
    margin-top: 20px;
    font-weight: bold;
  }
  #homepage_video_subtitle p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size:15px;
  }
  
  .homepage-wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  .homepage-wrapper h2 {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size:40px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .homepage-wrapper h3 {
    width: 1170px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 20px;
  }
 } for laptops */
/* 
@media (min-width: 768px) and (max-width: 990px) { .website-content {
  background-color: white;
  align-items: center;
  text-align: center;
  list-style-position: inside;
}

#asteroid-link {
  color:black;
  text-decoration: none;
}

#asteroid-link:hover {
  text-decoration: underline;
}

.navbar {
  width: 70%;
  margin-right:30px;
  margin-left: 275px;
  position: absolute;
  font-size: 22px;
}

#navbarDropdown {
  padding-bottom: 2rem;
  color: rgba(255,255,255,.55);
}
.nav-item-dropdown {
  text-align: center !important;
}
.navbar-brand {
  font-size: 20px;
}
.navbar-brand img {
  width: 35px;
  height:28px;
}
.nav-item {
  margin-left: 25px;
}

.dropdown-menu {
  background-color: #212529 !important;
  color:#212529 !important;
}
.dropdown-item {
  color: rgba(255,255,255,.55) !important;
  background-color: #212529 !important;
  font-family: 'Montserrat', sans-serif !important;
}
a.dropdown-item:hover,
a.dropdown-item:active {
  color: white !important;
  opacity: 80% !important;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;

}
video {
  margin-top: 30px;
}

#video_subtitle {
  font-size: 15px;
  overflow:scroll;
  height: 250px;
  width: 95%;
  margin-left:15px;
}


#asteroids_list {
  text-align: center;
  justify-content: center;
}

.banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	top: 100px;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.content-area {
	position: absolute;
	top: 300px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.about-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.about-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.about-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.about-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.about-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

#about-nologin-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 90px;
  width: 87%;
}

#copyright_link {
  color: black;
  text-decoration: none;
}
#copyright_link:hover,
#copyright_link:active {
  color: blue !important;
  opacity: 80% !important;
}

.homepage_tutorial {
  overflow: scroll;
  width: 95%;
  height:500px;
  margin-top:20px;
}
.asteroid_selection {
  margin-top: 30px;
}

.ui.list .list>
.item a, .ui.list>.item a {
  color:black !important;
  text-decoration: none;
}

.ui.list .list>
.item a, .ui.list>.item a:hover {
  color:black !important;
  text-decoration: underline;
}

input[type="date"] {
  display: block;
  text-align: center;
}

.video_info {
  overflow: hidden !important;
}

.forgot-banner-area {
	width: 70%;
	height: 200px;
  margin-right:30px;
  margin-left: 275px;
	position: absolute;
	background-image: url(/static/img/asteroid_header.jpeg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}
.forgot-banner-area h2 {
	padding-top: 3%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
  text-align: center;
}

.forgot-content-area {
	position: absolute;
	top: 200px;
	background: #ebebeb;
	min-height: 700px;
  width:70%; 
  margin-right:30px;
  margin-left: 275px;
}
.forgot-content-area h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.forgot-content-area p {
	padding: 2% 0px;
	font-family: poppins;
	line-height: 30px;
}

.forgot-input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  margin-left: 380px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}
.forgot-input-field i {
  text-align: center;
  line-height: 55px;
  color: #131212;
  transition: 0.5s;
  font-size: 1.1rem;
}
.forgot-input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}
.forgot-input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.form-forgot-password {
  align-items: center;
  
}

.change-password {
  margin-top: 50px;
}

#about-accordion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 50px;
  margin-left: 5px;
  width: 100%;
}

#homepage_video_subtitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
}
#homepage_video_subtitle h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:20px;
  margin-top: 20px;
  font-weight: bold;
}
#homepage_video_subtitle p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size:15px;
}

.homepage-wrapper {
	width: 1170px;
	margin: 0 auto;
}
.homepage-wrapper h2 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size:40px;
  font-weight: bold;
  margin-bottom: 10px;
}
.homepage-wrapper h3 {
	width: 1170px;
	margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 20px;
} } for large tablets */

/* @media (max-width: 768px) { ... } /* for smaller tablets */

/* @media (max-width: 500px) { ... } for cellphones */ */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {
  video {
    display:none;
  }
  #video_subtitle {
    display: none;
  }
  .col-7 {
    display:none;
  }
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  video {
    width:50%;
}
#video_subtitle {
  width:50%;
}
.col-7 {
  width:50%;
}
}  */


/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  video {
    width:80%;
    margin-right:100px;
    margin-top: 50px;
  }
  #video_subtitle {
    width:80%;
    overflow: scroll;
    font-size: small;
  }
  .col-7 {
    width:40%;
  }
  .col-5 {
    width:40%;
  }
  #bg img {
  max-width: fit-content;
  }

  #navbar {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    font-size: 15px;
  }

  body {
    margin-left: -50px;
  }
  .banner-area {
    width: 70%;
    height: 200px;
    margin-right:30px;
    margin-left: 275px;
    position: absolute;
    top: 100px;
    background-image: url(/static/img/asteroid_header.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
  }
  .banner-area h2 {
    padding-top: 3%;
    font-size: 70px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }

  .content-area {
    position: absolute;
    top: 300px;
    background: #ebebeb;
    min-height: 700px;
    width:70%; 
    margin-right:30px;
    margin-left: 275px;
  }
  .content-area h2 {
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
  }
  .content-area p {
    padding: 2% 0px;
    font-family: poppins;
    line-height: 30px;
  }


} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {


} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */
