{% extends 'base.html' %}

{% block title %}{{ apod.title }} - Details{% endblock %}

{% block body %}
<div class="box-area">
  <div class="banner-area">
      <h2>APOD</h2>
  </div>
  <div class="content-area">
    <div class="wrapper">
      <div class="row align-items-center justify-content-center">
        <div class="col-5" id="apod_info">
          <ul class="list-group list-group-flush" >
            <h2>{{ apod.title }}</h2>
            {% if 'copyright' in apod %}
            <li class="list-group-item">
              <b>Photographer: </b>{{ apod.copyright }}
            </li>{% else %}
            <li class="list-group-item">
              <b>Photographer: </b>Not available
            </li>
            {% endif %}
            <li class="list-group-item" id="apod_other_info"><b>Date: </b>{{apod.date}}</li>
            <li class="list-group-item" id="apod_other_info" ><b>Explanation: </b>{{apod.explanation}}</li>
          </ul>
          <br>
          <form action="/apod">
              <label for="apod_selection" id="apod_form">Select date to see a picture from a past day</label>
              <input type="date" id="apod_date" name="apod_date" min="1995-06-16" required>
              <br>
              <input type="submit" class="ui primary button">
          </form>
        </div>
        <div class="col-7" id="apod_img">
          {% if apod.media_type == 'image' %}
          <img src="{{ apod.url }}" >
          {% elif apod.media_type == 'video' %}
          <a href="{{apod.url}}" target="_blank" id="asteroid-link" >Click here to see the interactive image!</a>
          {% endif %}
        </div>
      </div>
    </div> 
  </div> 
</div>

<script>
  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!
  var yyyy = today.getFullYear();
  if(dd<10){
          dd='0'+dd
      } 
      if(mm<10){
          mm='0'+mm
      } 

  today = yyyy+'-'+mm+'-'+dd;
  document.getElementById("apod_date").setAttribute("max", today);


</script>
{% endblock %}