{% extends 'base.html' %}

{% block title %}{{ asteroid_details_dict.name }} - Details{% endblock %}

{% block body %}
<div class="row">
  <div class="col-8">
    <h1>{{ asteroid_details_dict.name }}</h1>
  </div>
  <div class="col-4 d-flex flex-row-reverse align-items-center justify-content">
    <form>
      <a href="javascript:history.back()" class="btn btn-outline-dark">Go Back</a>
    </form>
  </div>
</div>

    <p><a href='{{asteroid_details_dict.nasa_jpl_url}}' target="_blank">
    Link to its official website
    </a></p>

    <p><b>Is it hazardous:</b> {{ asteroid_details_dict.potentially_hazardous }}</p>

    <p><b>Close approach date:</b> {{ asteroid_details_dict.close_approach_date }}</p>
    
    <p><b>Relative Velocity in Kilometers:</b> {{ asteroid_details_dict.relative_velocity_kilometers_per_hour }}</p>

    <p><b>Relative Velocity in Miles:</b> {{ asteroid_details_dict.relative_velocity_miles_per_hour }}</p>

    <p><b>Orbiting body(planet):</b> {{ asteroid_details_dict.orbiting_body }}</p>

    <p><b>Miss distance in kilometers:</b> {{ asteroid_details_dict.miss_distance_kilometers}}</p>

    <p><b>Miss distance in miles:</b> {{ asteroid_details_dict.miss_distance_miles }}</p>

    <p><b>Estimated diameter in kilometers</b><br>
    <b>Min:</b> {{ asteroid_details_dict.estimated_diameter_kilometers_min }} <br>
    <b>Max:</b> {{ asteroid_details_dict.estimated_diameter_kilometers_max}}</p>
    
    <p><b>Estimated diameter in miles</b><br>
    <b>Min:</b> {{ asteroid_details_dict.estimated_diameter_miles_min }} <br>
    <b>Max:</b> {{ asteroid_details_dict.estimated_diameter_miles_max}}</p>

    
    <form action="/save-favorites" method="POST">
      <input type='text' name='api_asteroid_id' value= {{ asteroid_details_dict.api_asteroid_id }} hidden>
      <input type='text' name='name' value='{{ asteroid_details_dict.name }}' hidden>
      <input type='text' name='potentially_hazardous' value={{ asteroid_details_dict.potentially_hazardous }} hidden>
      <input type='text' name='close_approach_date' value={{ asteroid_details_dict.close_approach_date }} hidden>
      <input type='text' name='nasa_jpl_url' value={{ asteroid_details_dict.nasa_jpl_url }} hidden>
      <input type='text' name='relative_velocity_kilometers_per_hour' value={{ asteroid_details_dict.relative_velocity_kilometers_per_hour }} hidden>
      <input type='text' name='relative_velocity_miles_per_hour' value={{ asteroid_details_dict.relative_velocity_miles_per_hour }} hidden>
      <input type='text' name='orbiting_body' value={{ asteroid_details_dict.orbiting_body }} hidden>
      <input type='text' name='miss_distance_kilometers' value={{ asteroid_details_dict.miss_distance_kilometers }} hidden>
      <input type='text' name='miss_distance_miles' value={{ asteroid_details_dict.miss_distance_miles }} hidden>
      <input type='text' name='estimated_diameter_kilometers_min' value={{ asteroid_details_dict.estimated_diameter_kilometers_min }} hidden>
      <input type='text' name='estimated_diameter_kilometers_max' value={{ asteroid_details_dict.estimated_diameter_kilometers_max }} hidden>
      <input type='text' name='estimated_diameter_miles_min' value={{ asteroid_details_dict.estimated_diameter_miles_min }} hidden>
      <input type='text' name='estimated_diameter_miles_max' value={{ asteroid_details_dict.estimated_diameter_miles_max }} hidden>

      <button class="btn btn-outline-dark">Click here to add this asteroid to your journal</button>
    </form>
    
{% endblock %}