{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block body %}
<div class="box-area">
    <div class="banner-area">
        <h2>Asteroids</h2>
    </div>
    <div class="content-area">
        <div class="wrapper">
            <div class="row align-items-center justify-content-center">
                <div class="col-5">
                    <h1 id="asteroid_selection_title">Select dates to see asteroids that are orbiting Earth</h1>
                    <form action="/asteroids" class="asteroids_selection">
                    <div class="col-6">
                        <label for="asteroids_selection">Start Date:</label>
                        <input type="date" class="form-control" id="asteroid_start_date" name="asteroid_start_date" min="" class="asteroid_dates" required>
                    </div>
                    <div class="col-6">
                        <label for="asteroids_selection">End Date:</label>
                        <input type="date" class="form-control" id="asteroid_end_date" name="asteroid_end_date" min="" class="asteroid_dates" required>        
                    </div>
                    <br>
                    <button type="submit" class="ui primary button" id="asteroid_selection_button">Submit</button>
                    </form>
                </div>
                <div class="col-7">
                    <video controls autoplay muted>
                        <source src="/static/img/spot_near_asteroids.mp4" type="video/mp4">
                    </video>
                    <div id="video_subtitle" class="video_info">
                        <h2>How Do We Spot Near Earth Asteroids</h2>
                        <p>Animation illustrates how near-Earth asteroids are detected by professional astronomers 
                            with the help of amateur astronomers and how our knowledge of their path is refined 
                            to determine if they might be a threat to Earth.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.querySelector('#asteroid_start_date').onchange = function(){
    let dtFrom = document.querySelector('#asteroid_start_date').value;
    let dtTo = new Date(dtFrom);
    dtTo.setDate(dtTo.getDate() + 8);
    let sMonthTo = ((dtTo.getMonth() + 1) < 10 ? '0' + (dtTo.getMonth() + 1) : (dtTo.getMonth() + 1));
    let sDayTo = (dtTo.getDate() < 10 ? '0' + dtTo.getDate() : dtTo.getDate());
    let endDate = new Date(dtFrom)
    endDate.setDate(dtTo.getDate() - 7);
    let sEndDate = (new Date(endDate)).toISOString().split('T')[0]

    document.querySelector('#asteroid_end_date').setAttribute('max', dtTo.getFullYear() + '-' + sMonthTo + '-' + sDayTo);
    document.querySelector('#asteroid_end_date').setAttribute('min', sEndDate);
    };

    document.querySelector('#asteroid_end_date').onchange = function(){
    let nEndDate = document.querySelector('#asteroid_end_date').value;
    let dtTo = new Date(nEndDate);
    dtTo.setDate(dtTo.getDate() - 7);
    let sEndDate = (new Date(dtTo)).toISOString().split('T')[0]

    document.querySelector('#asteroid_start_date').setAttribute('min', sEndDate);
    };
    
</script>
<style>
    .row .col-5 .col-6 {
        margin-left:125px;
    }
</style>
{% endblock %}