{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="box-area">
    <div class="banner-area">
        <h2 id="account_information_title">Account information</h2>
    </div>
    <div class="content-area">
        <div class="wrapper">
            <h3 id="change-acc-title">Please fill out only what you intend to change</h3>
            <h4 id="change-acc-title">Leave the ones you don't intend to change empty</h4>
            <div class="row">
                <form action="/change-account-info" class="change-acc-info">
                    <div class="col-3">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="New First Name" id="new_fname" name="new_fname" minlength="2" maxlength="35">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="input-field">
                            <i class="fas fa-user"></i>
                            <input type="text" placeholder="New Last Name" id="new_lname" name="new_lname" minlength="2" maxlength="35">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="input-field">
                            <i class="fas fa-user-astronaut"></i>
                            <input type="text" id="new_username" name="new_username" placeholder="New Username" pattern="[a-z0-9-_.]{5,15}" title="Only lowercase letters, numbers, hyphens, underscores and periods are allowed, at least 5 characters and max of 15
                            characters">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="input-field">
                            <i class="fas fa-envelope"></i>
                            <input type="email-address" placeholder="New Email" id="new_email" name="new_email" minlength="9" maxlength="62" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="This email is not valid" >
                        </div>
                    </div>
                    <button class="ui primary button" id="acc-info-submit">Submit</button>
                </form>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}