{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<h1>Change your current password?</h1>
<form action="/change-current-password" class="change-password"> 
  <div class="row">
    <label for="current_password">Type your current password:</label>
    <div class="col-6 col-sm-3">
      <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" id="current_password" name="current_password" required />
      </div>
    </div>
    <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
      <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-current-password"></i>
    </div>
    <label for="new_password">Type your new password:</label>
    <div class="col-6 col-sm-3">
      <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="New Password" id="new_password" name="new_password" required />
      </div>
    </div>
    <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
      <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-new-password"></i>
    </div>

    <label for="new_password">Repeat your new password:</label>
    <div class="col-6 col-sm-3">
      <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Repeat New Password" id="repeat_new_password" name="repeat_new_password" required />
      </div>
    </div>
    <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
      <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-repeat-new-password"></i>
    </div>
    <span id='message'></span><br>
    <div class="col-5">
    <button id="submit" class="btn btn-primary" disabled>Submit</button>
    </div>
  </div>
</form>

 <script>
   $('#new_password, #repeat_new_password').on('keyup', function () {
  if ($('#new_password').val() == $('#repeat_new_password').val()) {
    $('#message').html('The passwords match!').css('color', 'green');
    $("#submit").removeAttr("disabled");
  } else 
    $('#message').html('The passwords do not match!').css('color', 'red');
  });

  $(document).on('click', '.toggle-current-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#current_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  $(document).on('click', '.toggle-new-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#new_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  $(document).on('click', '.toggle-repeat-new-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#repeat_new_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  
  </script>
{% endblock %}