{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="box-area">
  <div class="banner-area">
    <h2 id="account_information_title">change password</h2>
  </div>
  <div class="content-area" class="change-password">
    <div class="wrapper">
      <h3 id="change-password-title">Don't forget to write down your password, but don't worry, you can always reset it.</h3>
      <form action="/change-current-password"> 
        <div class="row">
          <div class="col-6 col-sm-3" id="change-password-input-field">
            <div class="input-field"  >
                <i class="fas fa-lock"></i>
                <input type="password" placeholder=" Current Password" id="current_password" name="current_password" required />
            </div>
          </div>
          <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
            <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-current-password"></i>
          </div>
          <div class="col-6 col-sm-3" id="change-password-input-field">
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="New Password" id="new_password" name="new_password" required />
            </div>
          </div>
          <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
            <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-new-password"></i>
          </div>

          <div class="col-6 col-sm-3" id="change-password-input-field">
            <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Repeat New Password" id="repeat_new_password" name="repeat_new_password" required />
            </div>
          </div>
          <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
            <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-repeat-new-password"></i>
          </div>
          <span id='message'></span><br>
          
        </div>
        <button id="password-submit" class="btn btn-primary" disabled>Submit</button>
      </form>
    </div>
  </div>
</div>

 <script>
   $('#new_password, #repeat_new_password').on('keyup', function () {
  if ($('#new_password').val() == $('#repeat_new_password').val()) {
    $('#message').html('The passwords match!').css('color', 'green');
    $("#password-submit").removeAttr("disabled");
  } else 
    $('#message').html('The passwords do not match!').css('color', 'red');
  });

  $(document).on('click', '.toggle-current-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#current_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  $(document).on('click', '.toggle-new-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#new_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  $(document).on('click', '.toggle-repeat-new-password', function() {
  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $("#repeat_new_password");
  input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
  });

  
  </script>
{% endblock %}