{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

<h1>Change your current password?</h1>
<form action="/change-current-password" class="change-password">
    <label for="current_password">Current Password:</label>
    <input type="password" id="current_password" name="current_password" required>
    <label for="new_password">New Password:</label>
    <input type="password" id="new_password" name="new_password" required>
    <button class="btn btn-light">Submit</button>

</form>

{% endblock %}