{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="box-area">
    <div class="forgot-banner-area">
        <h2>Reset Password</h2>
    </div>
    <div class="forgot-content-area">
      <div class="wrapper">
        <h2>Please enter your email or username</h2>
        <div class="form-forgot-password">
            <form action="/reset_password" method='POST' >
                <div class="forgot-input-field">
                    <i class="fas fa-space-shuttle"></i>
                    <input type="text" placeholder="Email Address or Username" name="user_info_reset_password" required />
                </div>
                <br>
                <button type="submit" value="Submit" id="form-forgot-button" class="ui primary button">Submit</button>
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}