{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}

  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form action="/log-in" class="sign-in-form">
          <h2 class="title">Log in</h2>
          <div class="input-field">
            <i class="fas fa-user-astronaut"></i>
            <input type="text" placeholder="Username" name="user_username" required />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="user_password" required/>
          </div>
          <input type="submit" value="Login" class="btn btn-outline-primary" id="login-btn"/>
          <div class="form-group mt-2">
          </div>
        </form>
        
        <form action="/users" method="POST" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="First Name" name="fname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Last Name" name="lname" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-user-astronaut"></i>
            <input type="text" placeholder="Username" name="username" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" name="email" required/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" name="password" required/>
          </div>
          <input type="submit" class="btn btn-outline-primary" value="Sign up" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>New here ?</h3>
          <p>
            Please create an account first, then log in
          </p>
          <button class="btn btn-light" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="/static/img/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>Already have an account?</h3>
          <p>
            Welcome back! Sign in to your account by clicking the button below
          </p>
          <button class="btn btn-light" id="sign-in-btn">
            Sign in
          </button>
        </div>
        <img src="/static/img/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>

  <script src="/static/js/app.js"></script>

{% endblock %}
