{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}
    <h1>Welcome</h1>
    <h1>This is iDreamAstronomy</h1>
    <p>What would you like to do?</p>

    <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="username" required>
    </p>
    <p>
      First Name <input type="text" name="fname" required>
    </p>
    <p>
      Last Name <input type="text" name="lname" required>
    </p>
    <p>
      Email <input type="text" name="email" required>
    </p>

    <p>
      Password <input type="password" name="password" required>
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

    <h2>Log In</h2>
  <form action="/log-in">
    <p>
      Username <input type="text" name="user_username" required>
    </p>
    <p>
      Password <input type="password" name="user_password" required>
    </p>

    <p>
      <input type="submit">
    </p>

  </form>

 
        </div>
{% endblock %}
