{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block body %}
<div class="box-area">
  <div class="banner-area">
  <h2>my journal</h2>
  </div>
  <div class="content-area">
    <div class="wrapper">
      <div class="row">
        <div class="col-5" id="asteroids_list">
            <h2>{{ asteroid.name }}</h2>
          <div class="ui relaxed divided list">
            <div class="item">
              <div class="content">
                <h6 class="header"><a href='{{asteroid.nasa_jpl_url}}' target="_blank">JPL Small-Body Database Browser</a></h6>
                <div class="description">Asteroid's Official Website</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Is it hazardous</h6>
                <div class="description">{{ asteroid.potentially_hazardous }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Close approach date</h6>
                <div class="description">{{ asteroid.close_approach_date }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Relative Velocity in Kilometers</h6>
                <div class="description">{{ asteroid.relative_velocity_kilometers_per_hour }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Relative Velocity in Miles</h6>
                <div class="description">{{ asteroid.relative_velocity_miles_per_hour }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Orbiting body(planet)</h6>
                <div class="description">{{ asteroid.orbiting_body }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Miss distance in kilometers</h6>
                <div class="description">{{ asteroid.miss_distance_kilometers}}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Miss distance in miles</h6>
                <div class="description">{{ asteroid.miss_distance_miles }}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Estimated diameter in kilometers min to max</h6>
                <div class="description">{{ asteroid.estimated_diameter_kilometers_min }} - {{ asteroid.estimated_diameter_kilometers_max}}</div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <h6 class="header">Estimated diameter in miles min to max</h6>
                <div class="description">{{ asteroid.estimated_diameter_miles_min }} - {{ asteroid.estimated_diameter_miles_max}}</div>
              </div>
            </div>
          </div>
          <form>
            <input type='text' name='asteroid_id' value= {{ asteroid.asteroid_id }} hidden>
            <button class="ui primary button" formaction="/delete-favorites" formmethod="post">
                Remove from journal
              </button>
              <a href="javascript:history.back()" class="ui button">
                Go back
              </a>
          </form>
        </div>
        <div class="col-7">
          <video controls autoplay muted>
            <source src="/static/img/sunlight_push_asteroids.mp4" type="video/mp4">
          </video>
          <div id="video_subtitle">
            <h2>How Sunlight Pushes Asteroids</h2>
            <p>Near-Earth asteroids like Bennu pose a potential danger to our planet, 
              so it's important to predict their orbits with great accuracy. 
              Unfortunately, a phenomenon called the Yarkovsky effect can make these predictions difficult over long time periods. 
              How does this effect work? When sunlight strikes a rotating asteroid, the dayside heats up; as the asteroid turns, 
              the night side cools and releases the heat, exerting a small thrust that can change the asteroid's direction over time. 
              In order to learn more about this process on asteroid Bennu, 
              NASA is sending a spacecraft called OSIRIS-REx to make detailed observations of Bennu's shape, brightness, and surface features. 
              These factors are thought to influence the Yarkovsky effect, and understanding how will enable scientists to better predict 
              the orbit of Bennu and other near-Earth asteroids.</p>
          </div>
        </div>

      </div>
    
        
    </div>
  </div>
</div>
    

    
    
</div>
        

{% endblock %}