{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}
<div class="my-account">
    <h2>What would you like to change in your account?</h2>
    <div class="row">
        <div class="col-4">
            <a href="/change-password" class="btn btn-link">Change your password</a>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="/change-account-info" class="btn btn-link">Change account information</a>
        </div>
    </div>

</div>
{% endblock %}