{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}
    <h1>Welcome {{user.fname}} {{user.lname}}</h1>
   
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/space-pictures/1.jpg" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/2.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/3.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/4.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/5.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/6.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/7.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/8.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/9.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/10.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/11.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/12.jpg" class="d-block w-100" >
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/13.jpg" class="d-block w-100" >
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div>    
        <h2>When would you like to see the Astronomy picture?</h2>
        <form action="/apod">
            <label for="apod_selection">Date:</label>
            <input type="date" id="apod_date" name="apod_date" min="1995-06-16" required>
            <input type="submit">
        </form>
    </div>

{% endblock %}