{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}

   
    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/space-pictures/1.jpg" class="background-image">
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">NASA</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/2.jpg" class="background-image">
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@mr_bcubed5?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alazar Kassahun</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/3.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@bryangoffphoto?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Bryan Goff</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/4.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@grakozy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Greg Rakozy</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/5.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@gferla?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Guillermo Ferla</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/6.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@thenikyv?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Niketh Vellanki</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/7.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">NASA</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/8.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@ryan_hutton_?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Ryan Hutton</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/9.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@nasa?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">NASA</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/10.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@shlomo99?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shlomo Shalev</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/11.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@shotbycerqueira?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Shot by Cerqueira</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/12.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@vingtcent?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vincent Guth</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/space-pictures/13.jpg" class="background-image" >
            <div class="carousel-caption d-none d-md-block">
              <p>Photo by <a href="https://unsplash.com/@vincentiu?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Vincentiu Solomon</a> on <a href="https://unsplash.com/@thalialietz/likes?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
              </p>
            </div>
          </div>
        </div>
      </div>
<div id="frontpage">
  <h1>Welcome {{user.fname}} {{user.lname}}</h1>
</div>
{% endblock %}