{% extends 'base.html' %}

{% block title %}iDreamAstronomy{% endblock %}

{% block body %}
<div class="box-area">
  <div class="banner-area">
    <h2>Homepage</h2>
  </div>
  <div class="content-area">
    <div class="homepage-wrapper">
      <h2>Welcome {{user.fname}} {{user.lname}}</h2>
      <h3>If this is your first time or if you forgot about something please see below for the tutorials on
        how to navigate throughout the website.
      </h3>
      <h3>Each page on this website also contains an education video for your viewing pleasure.</h3>
      <div class="row">
        <div class="homepage_tutorial">
          <div id="homepage_video_subtitle">
            <h5>All Asteroids Page</h5>
            <p>To see all asteroids, click on the Asteroids button on the navbar.
              You can select dates within a week from the start date. Once you click on submit you will be taken
              to a page with all the asteroids for that selected time.
            </p>
          
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/asteroid_video.mp4" type="video/mp4">
            </video>
          </div>
       
          <div id="homepage_video_subtitle">
            <h5>See details for a asteroid</h5>
            <p>To see details about a specific asteroid, click on its name and you will be taken to a description page. 
            </p>
          
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/asteroid_details.mp4" type="video/mp4">
            </video>
          </div>

          <div id="homepage_video_subtitle">
            <h5>My Journal Page</h5>
            <p>To see "My Journal" page, click on the navbar "My Journal" and you will be redirected to your page with all 
              currently added asteroids.
            </p>
          
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/my_journal.mp4" type="video/mp4">
            </video>
          </div>

          <div id="homepage_video_subtitle">
            <h5>Add an asteroid to your journal</h5>
            <p>To save an asteroid for later viewing, simply click on the button "Save to your journal" and you will be redirected 
              to your "My Journal" page where you can see the asteroid just added.
            </p>
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/add_to_your_journal.mp4" type="video/mp4">
            </video>
          </div>

          <div id="homepage_video_subtitle">
            <h5>Remove an asteroid from your journal</h5>
            <p>To remove an asteroid from your journal, simply click on the button "Remove from journal".
            </p>
          
            <video controls autoplay muted id="homepage_video"> 
              <source src="/static/img/homepage_videos/remove_from_journal.mp4" type="video/mp4">
            </video>
          </div>

          <div id="homepage_video_subtitle" id="homepage_video">
            <h5>APOD - Astronomy Picture of the day</h5>
            <p>To see the astronomy picture of the day, simply click on the navbar. The picture you will see is the current date's picture.
              To see pictures from the past select a date on the calendar and click Submit. If it's a interactive image you will see a link to click that will redirect you to it.
            </p>
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/apod.mp4" type="video/mp4">
            </video>
          </div>

          <div id="homepage_video_subtitle">
            <h5>Account Settings</h5>
            <p>By clicking on "My Account" on top right, you can choose to change your password, change information on the account, or log out.
            </p>
            <video controls autoplay muted id="homepage_video">
              <source src="/static/img/homepage_videos/account_settings.mp4" type="video/mp4">
            </video>
          </div>
        </div>



      </div>
    </div>
    
  </div>
</div>

{% endblock %}