{% extends "base.html" %}
{% block title %}iDreamAstronomy{% endblock %}
{% block body %}
<div class="box-area">
    <div class="forgot-banner-area">
        <h2>create new Password</h2>
    </div>
    <div class="forgot-content-area">
        <div class="wrapper">
            <h2>Please enter your new password</h2>
            <div class="form-forgot-password">
                <form action="/forgot/change/new_password/" method='POST'>
                    <div class="row" style="margin-left: 40px;">
                        <label for="New_Password">Type your new password</label>
                        <div class="col-6 col-sm-3" style="margin-left: 410px;">
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="New Password" name="new_password" id="new_password" required />
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
                            <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-update-password"></i>
                        </div>
                        <label for="New_Password_confirmation">Type your new password again</label>
                        <div class="col-6 col-sm-3" style="margin-left: 410px;">
                            <div class="input-field">
                                <i class="fas fa-lock"></i>
                                <input type="password" placeholder="Confirm Password" name="new_password_conf" id="new_password_conf" required />
                            </div>
                        </div>
                        <div class="col-6 col-sm-3 d-flex align-items-center justify-content-left">
                            <i toggle="#password-field" class="fa fa-fw fa-eye field_icon toggle-new-password-conf"></i>
                        </div>
                        <span id='message'></span><br>
                    </div>
                    <button id="submit" type="submit" value="Submit" class="ui primary button" disabled style="margin-left: 35px;">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
<script>

$('#new_password, #new_password_conf').on('keyup', function () {
if ($('#new_password').val() == $('#new_password_conf').val()) {
    $('#message').html('The passwords match!').css('color', 'green');
    $("#submit").removeAttr("disabled");
} else 
    $('#message').html('The passwords do not match!').css('color', 'red');
});

$(document).on('click', '.toggle-update-password', function() {
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $("#new_password");
input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
});

$(document).on('click', '.toggle-new-password-conf', function() {
$(this).toggleClass("fa-eye fa-eye-slash");
var input = $("#new_password_conf");
input.attr('type') === 'password' ? input.attr('type','text') : input.attr('type','password')
});
</script>
{% endblock %}