{% extends "base.html" %}

{% block body %}
    <h1>Reset Your Password</h1>

    <form action="/create-new-password" method='POST'>
        <label for="New_Password">Type your new password</label>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="password" name="new_password" id="update_password" required />
        </div>
        <div>
            <input type="checkbox" onclick="toggleShowResetPassword()"> Show Password</input>
          </div>
        <label for="New_Password_confirmation">Type your new password again</label>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="password" name="new_password_conf" id="new_password" required />
        </div>
        <div>
            <input type="checkbox" onclick="toggleShowNewPassword()"> Show Password</input>
        </div>
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>

    <script src="/static/js/app.js"></script>
{% endblock %}