<p>Dear {{ user.username }},</p>
<p>
    To reset your password
    <a href="{{ url_for('check_token_valid', token=token, _external=True) }}">
        click here.
    </a>
</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('check_token_valid', token=token, _external=True) }}</p>
<p>The token is valid only for 5 minutes, after this you will have to get a new one.</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>iDreamAstronomy Team</p>